@model BigEshop.Domain.ViewModels.User.FilterUserViewModel

@{
    ViewData["Title"] = "لیست کاربران";
}


<div class="row flex justify-content-between align-items-center p-4 mr-12 ml-12">
	<div class="pl-8">
		<a asp-action="Create">افزودن کاربر</a>
	</div>
	<form asp-action="Index" id="filter-search" class="row flex align-items-center">
		<input type="hidden" asp-for="Page" />
		<label class="focused col-auto mb-0">جستجو: </label>
		<input type="search" class="form-control col-auto" asp-for="FirstName" value="@ViewBag.filter" />
		<a asp-action="Index" class="col-auto m-2">حذف فیلتر</a>
	</form>
</div>

<div class="card-body">
    <div class="table-responsive border userlist-table">
		<table class="table card-table table-vcenter text-nowrap mb-0">
			<thead>
				<tr>
					<th class="wd-lg-8p"><span>آواتار</span></th>
					<th class="wd-lg-20p"><span>کاربر</span></th>
					<th class="wd-lg-20p"><span>تاریخ ایجاد</span></th>
					<th class="wd-lg-20p"><span>موبایل</span></th>
					<th class="wd-lg-20p"><span>ایمیل</span></th>
					<th class="wd-lg-20p"><span>وضعیت</span></th>
					<th class="wd-lg-20p">عمل</th>
				</tr>
			</thead>
			<tbody>
				@foreach(var item in Model.Entities)
				{
					<tr>
						<td>
							<img alt="" class="rounded-circle avatar-md ms-2" src="/Avatars/@item.Avatar">
						</td>
						<td>@item.FirstName @item.LastName</td>
						<td>
							@item.CreateDate.ToShamsi()
						</td>
						<td>
							@item.Mobile
						</td>
						<td>
							<a href="#">@item.Email</a>
						</td>
						<td class="text-center">
							<span class="label text-muted d-flex"><span class="dot-label bg-gray-300 ms-1"></span>@item.Status</span>
						</td>
						<td>
							<a onclick="ShowChargeWalletModal('@Url.Action("ChargeWallet", "Wallet", new { userId = item.Id})')" 
								class="btn btn-sm btn-success">
								<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 18 18">
								  <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
								</svg>
							</a>
							<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
								<i class="fe fe-search"></i>
							</a>
							<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">
								<i class="fe fe-edit-2"></i>
							</a>
							<a onclick="confirmDelete('/Admin/Users/Delete/@item.Id', event)" class="btn btn-sm btn-danger">
								<i class="fe fe-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

<partial name="_AdminPaging" model="@Model.GetCurrentPagging()" />

@section Scripts {

	<script src="/Admin/Assets/js/admin-wallet.js"></script>

	<script>

		function fillPageId(pageId) {
			$("#Page").val(pageId);
			$("#filter-search").submit();
		}

		function confirmDelete(url, e) {

			e.preventDefault();

			Swal.fire({
				text: "آیا از انجام این عملیات مطمین هستید؟",
				icon: "question",
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				cancelButtonColor: "#d33",
				confirmButtonText: "بله",
				cancelButtonText: "خیر"
			}).then((result) => {
				if (result.isConfirmed) {
					location.href = url;
				}
			});

		}

	</script>
}
