@using BigEshop.Application.Convertor
@using BigEshop.Application.Extensions
@model List<BigEshop.Domain.Models.Product.ProductQuestion>

@{
    var currentUserId = User.GetUserId();
    var answerNumbers = Model.FirstOrDefault()?.ProductAnswers?.Count() ?? 0;
}

@if (Model != null)
{
   @foreach(var item in Model)
   {
        <div class="row bs-qu">
            <div class="col-lg-2 bq1 text-center">
                <i class="bi bi-question-circle-fill"></i>
                <br>
                <span class="span1">پرسش</span>
                <br>
                <span class="span2">@item.User?.GetFullName()</span>
            </div>
            <div class="col-lg-10 bq2">
                <p>@item.QuestionText</p>
                <div class="row bq-footer">
                    <div class="col-md-5 col-6 my-flex-align-end">
                        <span class="date">
                            @item.CreateDate.ToShamsi()
                        </span>
                    </div>
                    <div class="col-md-7 col-6 text-end pe-0">
                        <a
                            class="d-none d-sm-block"
                           onclick="showCreateProductAnswerModal('@Url.Action("CreateProductAnswer", "Product", new { id = item.Id})')">
                            <span class="main-color-one-color">به این پرسش پاسخ دهید @(answerNumbers) پاسخ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
   }
}



@section Scripts{
    <script>
      function showCreateProductAnswerModal(url) {

            console.log(questionId);

            fetch(url)
               .then(res => res.text())
               .then(data => {

                   $("#large-modal-title").html("پاسخ به پرسش مطرح شده");
                   $("#large-modal-body").html(data);
                   $("#large-modal").modal('show');

               })
        }
    </script>
}


