@model List<BigEshop.Domain.Models.Contact.Contact>

<div class="container-fluid">
	<div class="inner-body">

		<!-- Page Header -->
		<div class="page-header">
			<div>
				<h2 class="main-content-title tx-24 mg-b-5">صندوق پستی</h2>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">برنامه ها</a></li>
					<li class="breadcrumb-item active" aria-current="page">صندوق پستی</li>
				</ol>
			</div>
			<div class="d-flex">
				<div class="justify-content-center">
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						وارد كردن<i class="fe fe-download me-2"></i>
					</button>
					<button type="button" class="btn btn-white btn-icon-text my-2 me-2">
						فیلتر<i class="fe fe-filter me-2"></i>
					</button>
					<button type="button" class="btn btn-primary my-2 btn-icon-text">
						گزارش را بارگیری کنید<i class="fe fe-download-cloud me-2"></i>
					</button>
				</div>
			</div>
		</div>
		<!-- End Page Header -->
		<!-- row -->
		<div class="row row-sm">
			<div class="col-xl-12 col-lg-12  main-content-body-mail1">
				<div class="card custom-card mail-container task-container overflow-hidden">
					<div class="inbox-body p-4">
						<div class="mail-option">
							<div class="chk-all border-0">
								<div class="btn-group">
									<a data-bs-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
										همه
										<i class="fe fe-chevron-down"></i>
									</a>
									<ul class="dropdown-menu">
										<li><a href="#"> هیچ یک</a></li>
										<li><a href="#"> خواندن</a></li>
										<li><a href="#"> خوانده نشده</a></li>
									</ul>
								</div>
							</div>
							<div class="btn-group">
								<a data-original-title="Refresh" data-placement="top" data-bs-toggle="dropdown" href="#" class="btn mini tooltips">
									<i class="fe fe-refresh-cw"></i>
								</a>
							</div>
							<div class="btn-group hidden-phone">
								<a data-bs-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
									بیشتر
									<i class="fe fe-chevron-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#"> <i class="fe fe-edit me-2"></i> خوانده شده   </a></li>
									<li><a href="#"> <i class="fe fe fe-slash me-2"></i> هرزنامه ها </a></li>
									<li class="divider"></li>
									<li><a href="#"> <i class="fe fe-trash me-2"></i> حذف </a></li>
								</ul>
							</div>
							<ul class="unstyled inbox-pagination">
								<li><span>1-50 از 234</span></li>

								<li>
									<a class="btn np-btn" href="#"><i class="fe fe-chevron-right pagination-left"></i></a>
								</li>
							</ul>
						</div>
						<div class="table-responsive">
							<table class="table table-inbox text-md-nowrap table-hover text-nowrap">
								<thead>
									<tr>
										<th class="wd-lg-8p"><span>عنوان</span></th>
										<th class="wd-lg-20p"><span>نام و نام خانوادگی</span></th>
										<th class="wd-lg-20p"><span>ایمیل</span></th>
										<th class="wd-lg-20p"><span>موبایل</span></th>
										<th class="wd-lg-20p"><span>وضعیت پاسخ</span></th>
										<th class="wd-lg-20p"><span>تاریخ</span></th>
										<th class="wd-lg-20p">عمل</th>
									</tr>
								</thead>
									<tbody>
									@foreach(var contact in Model)
									{
										<tr>
											<td class="view-message">@contact.Title</td>
											<td class="view-message">@contact.FullName</td>
											<td class="view-message">@contact.Email</td>
											<td class="view-message">@contact.Mobile</td>
											@if(contact.AnswerUserId.HasValue)
											{
												<td class="badge bg-success">پاسخ داده شده</td>
											}else
											{
												<td class="badge bg-danger">پاسخ داده نشده</td>
											}
											<td class="view-message">@contact.CreateDate.ToShamsi()</td>
											<td>
												<a asp-controller="Contact" asp-action="Details" asp-route-Id="@contact.Id" class="btn btn-sm btn-secondary">
													<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 18 18">
														<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
														<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
													</svg>
												</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<!-- mail-content -->
				</div>
			</div>
		</div>
		<!-- /row -->

	</div>
</div>