@using BigEshop.Application.Services.Interfaces
@inject IUserService userService
@{
    int currentUserId = User.GetUserId();
}

@using BigEshop.Application.Extensions
@using BigEshop.Application.Statics
@using BigEshop.Domain.ViewModels.Product
@using BigEshop.Domain.ViewModels.ProductCategory
@model BigEshop.Domain.ViewModels.Product.AdminSideFilterProductViewModel

@{
    ViewData["Title"] = "لیست محصولات";
    var parentCategories = ViewData["ParentCategories"] as List<ProductCategoryViewModel> ?? new List<ProductCategoryViewModel>();
    var childCategories = ViewData["ChildCategories"] as List<ProductCategoryViewModel> ?? new List<ProductCategoryViewModel>();
}

<h4 class="mt-2">لیست محصولات</h4>

<div class="mt-4">
    @if (userService.UserHasPermission(currentUserId, "AddProduct"))
    {
        <a asp-action="Create">
            <h5>افزودن محصول</h5>
        </a>
    }
</div>

<div class="row mt-4">
   <div class="col-12">
        <div class="card p-2">
            <div class="header mb-2">
                <h4>فیلترها</h4>
            </div>
            <div class="body">
                <form asp-action="Index" id="filter-search">
                    <input type="hidden" asp-for="Page" />
                    <div class="row">
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-4">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class="form-control">
                                    @foreach (var item in Enum.GetValues(typeof(FilterProductStatus)).Cast<FilterProductStatus>().ToList())
                                    {
                                        <option class="@((Model.Status == item) ? "selected" : "")" value="@item">@item.GetDisplayName()</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row col-12 col-sm-12">
                            <button type="submit" class=btn btn-success>جستجو</button>
                            <a asp-action="Index" class="col-auto m-2">حذف فیلتر</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
               تصویر
            </th>
            <th>
               زیر گروه
            </th>
            <th>
                عنوان
            </th>
            <th>
                قیمت
            </th>
            <th>
                تاریخ ایجاد
            </th>
            <th>عمل</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Entities) {
        <tr>
            <td>
                <img class="rounded-circle avatar-md ms-2" src="@PathTools.ProductImagePath@item.Image" alt="@item.Title">
            </td>
            <td>
                 @childCategories.FirstOrDefault(p => p.Id == item.CategoryId)?.Title
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.CreateDate.ToShamsi()
            </td>
            <td>
                <a asp-controller="QA" asp-action="Index" asp-route-ProductId="@item.Id" class="btn btn-sm btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-lg" viewBox="0 0 16 16">
                         <path fill-rule="evenodd" d="M4.475 5.458c-.284 0-.514-.237-.47-.517C4.28 3.24 5.576 2 7.825 2c2.25 0 3.767 1.36 3.767 3.215 0 1.344-.665 2.288-1.79 2.973-1.1.659-1.414 1.118-1.414 2.01v.03a.5.5 0 0 1-.5.5h-.77a.5.5 0 0 1-.5-.495l-.003-.2c-.043-1.221.477-2.001 1.645-2.712 1.03-.632 1.397-1.135 1.397-2.028 0-.979-.758-1.698-1.926-1.698-1.009 0-1.71.529-1.938 1.402-.066.254-.278.461-.54.461h-.777ZM7.496 14c.622 0 1.095-.474 1.095-1.09 0-.618-.473-1.092-1.095-1.092-.606 0-1.087.474-1.087 1.091S6.89 14 7.496 14" />
                    </svg>
                </a>
                <a asp-controller="ProductComments" asp-action="Index" asp-route-ProductId="@item.Id" class="btn btn-sm btn-success">
                    <i class="ti ti-comment"></i>          
                </a>
                <a asp-controller="ProductFeatures" asp-action="Index" asp-route-ProductId="@item.Id" class="btn btn-sm btn-secondary">
                    <i class="ti ti-menu"></i>
                </a>
                <a asp-controller="ProductColors" asp-action="Index" asp-route-ProductId="@item.Id" class="btn btn-sm btn-warning">
                    <i class="ti ti-palette"></i>
                </a> 
                <a asp-controller="ProductGalleries" asp-action="Index" asp-route-ProductId="@item.Id" class="btn btn-sm btn-success">
                    <i class="ti ti-gallery"></i>
                </a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">
                    <i class="fe fe-search"></i>
                </a> 
                @if (userService.UserHasPermission(currentUserId, "EditProduct"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info">
                        <i class="fe fe-edit-2"></i>
                     </a>
                }
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                    <i class="fe fe-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_AdminPaging" model="@Model.GetCurrentPagging()" />

@section Scripts {
    <script>
        function fillPageId(pageId) {
            $("#Page").val(pageId);
            $("#filter-search").submit();
        }
    </script>
}
