@using BigEshop.Application.Convertor
@using BigEshop.Application.Extensions
@using BigEshop.Application.Statics
@using BigEshop.Domain.Models.Product
@using BigEshop.Domain.Models.User
@model BigEshop.Domain.Models.Order.Order

@{
    ViewData["Title"] = "داشبورد";
    
    var visitProducts = ViewData["VisitProducts"] as List<ProductVisit> ?? new List<ProductVisit>();
    var favoriteProducts = ViewData["FavoriteProducts"] as List<ProductReaction> ?? new List<ProductReaction>();
    var user = ViewData["User"] as User ?? new User();
}

<div class="col-lg-12">

    <div class="section-title mb-4">
        <div class="row gy-3 align-items-center">
            <div class="col-sm-8">
                <div class="section-title-title">
                    <h2 class="title-font main-color-two-color h1">
                        پروفایل <span class="text-dark">کاربری </span>
                    </h2>
                    <div class="Dottedsquare"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-custom slider-parent p-0">
        <div class="table-responsive shadow-box roundedTable p-0">
            <table class="table main-table rounded-0">
                <tbody>
                    <tr>
                        <td colspan="2">
                             <h6 class="fw-bold font-18  text-muted ">نام و نام خانوادگی:</h6>
                             <p class=" mt-2 font-16">@Model?.User?.GetFullName()</p>
                         </td>
                        <td colspan="2">
                            <h6 class="text-muted fw-bold font-18 ">شماره تلفن:</h6>
                            <p class=" mt-2 font-16">@Model?.User?.Mobile</p>
                        </td>
                        <td colspan="2">
                            <h6 class="fw-bold font-18 text-muted">پست الکترونیک:</h6>
                            <p class=" mt-2 font-16">@Model?.User?.Email</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="alert slider-parent bg-white mt-5 shadow-box rounded-4">
        <div class="tab-product-nav tab-panel-tbl  p-3 rounded-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn border-bottom-0 active" id="latest-order" data-bs-toggle="tab" data-bs-target="#latest-order-pane" type="button" role="tab" aria-controls="latest-order-pane" aria-selected="true">آخرین سفارشات <span class="badge main-color-green ms-1">@Model?.OrderDetails?.Where(o => o.IsDelete == false).Count()</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn border-bottom-0" id="favorite-product" data-bs-toggle="tab" data-bs-target="#favorite-product-pane" type="button" role="tab" aria-controls="favorite-product-pane" aria-selected="false" tabindex="-1">علاقه مندی ها</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link btn border-bottom-0" id="cancel-order" data-bs-toggle="tab" data-bs-target="#cancel-order-pane" type="button" role="tab" aria-controls="cancel-order-pane" aria-selected="false" tabindex="-1">
                       بازدیدها
                    </button>
                </li>
            </ul>
        </div>
        <div class="tab-content tab-product-content" id="myTabContent">
            <div class="tab-pane fade active show" id="latest-order-pane" role="tabpanel" aria-labelledby="latest-order" tabindex="0">
                <div class="panel-latest-order">
                    <div class="table-responsive roundedTable p-0">
                        <table class="table table-bordered main-table rounded-0">
                            <tbody>
                            @if(Model != null && Model.OrderDetails != null && Model.OrderDetails.Any())
                            {
                                @foreach(var item in Model.OrderDetails)
                                {
                                    <tr>
                                    <td colspan="2" class="align-middle">
                                        <div class="avatar-group d-flex align-items-center justify-content-center assigned-avatar">
                                            <div class="avatar avatar-md" data-bs-toggle="tooltip" data-bs-placement="top">
                                                <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Product?.Slug">
                                                    <img src="/Images/Product/@item.Product?.Image" alt="Avatar" class="rounded-circle  pull-up">
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="color-box-item" data-hint="" data-toggle="tooltip">
                                            <span class="color hint--top" style="background-color: @item.ProductColor?.Color"></span>
                                        </div>
                                    </td>
                                    <td colspan="2" class="align-middle">
                                        <h5 class="text-overflow-1 mt-2 h6">
                                            @item?.Product?.Title
                                        </h5>
                                    </td>
                                    <td colspan="2" class="align-middle">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 text-muted font-18">کد سفارش</p>
                                            <p class="mb-0 ms-2 fw-bold"></p>
                                        </div>
                                        <p class="mb-0 text-muted mt-2 font-16">@item.CreateDate.ToShamsi()</p>
                                    </td>
                                    <td colspan="2" class="align-middle">
                                        <div class="d-flex align-items-center">
                                            <p class="mb-0 text-muted font-18">مبلغ</p>
                                            <p class="mb-0 ms-2 fw-bold">
                                            @{
                                                if (@item.ProductColor != null)
                                                {
                                                    @item.ProductColor?.Price.ToMoney()
                                                }
                                                else
                                                {
                                                    @item.Product?.Price.ToMoney()
                                                }
                                            }
                                            تومان
                                            </p>
                                        </div>
                                        <p class="mb-0 fw-bold mt-2 font-16">
                                            
                                            @{
                                               if (Model.IsFinally == true)
                                                {
                                                   <i class="bi bi-check-circle-fill me-1 main-color-three-color"></i>
                                                   <span>پرداخت شده</span>
                                                }
                                                else 
                                                {
                                                    <span>پرداخت نشده</span>
                                                }
                                            }
                                        </p>
                                    </td>
                                    <td colspan="2" class="align-middle">
                                        <div class="text-center">
                                            <a asp-area="" asp-controller="Order" asp-action="Index"
                                                class="btn main-color-one-bg">مشاهده</a>
                                        </div>
                                    </td>
                                </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="pagination mt-5 pagination-2 justify-content-center">
                    <a href="#" class="pageitem">قبلی</a>
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                    <a href="#" class="pageitem">بعدی</a>
                </div>
            </div>
            <div class="tab-pane fade" id="favorite-product-pane" role="tabpanel" aria-labelledby="latest-order" tabindex="0">
                @if (favoriteProducts != null && favoriteProducts.Any())
                {
                    <ul class="row gy-3 ps-0 mt-4">
                        @foreach (var item in favoriteProducts)
                        {
                            <div class="col-sm-6">
                                <div class="cart-canvas border rounded-3 p-3">
                                    <div class="row align-items-center">
                                        <div class="col-4 ps-0">
                                            <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Product?.Slug">
                                                <img src="@PathTools.ProductImagePath@item.Product?.Image" width="200" alt="@item.Product?.Title">
                                            </a>
                                        </div>
                                        <div class="col-8">
                                            <h3 class="text-overflow-2 font-16">
                                                @item.Product?.Title
                                            </h3>
                                            <div class="product-box-suggest-price my-2  d-flex align-items-center justify-content-between">
                                                <ins class="font-25 ms-0">@item.Product?.Price.ToMoney() <span>تومان</span></ins>
                                            </div>
                                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                                <div class="cart-canvas-delete btn" onclick="deleteFromFavorites('@item.Product?.Id')">
                                                    <i class="bi bi-x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                }
            </div>
            <div class="tab-pane fade" id="cancel-order-pane" role="tabpanel" aria-labelledby="latest-order" tabindex="0">
                @if (visitProducts != null && visitProducts.Any())
                {
                    <ul class="row gy-3 ps-0 mt-4">
                        @foreach (var item in visitProducts)
                        {
                            <div class="col-sm-6">
                                <div class="cart-canvas border rounded-3 p-3">
                                    <div class="row align-items-center">
                                        <a>
                                            <div class="col-4 ps-0">
                                                <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@item.Product.Slug">
                                                    <img src="@PathTools.ProductImagePath@item.Product?.Image" width="200" alt="@item.Product?.Title">
                                                </a>
                                            </div>
                                        </a>
                                        <div class="col-8">
                                            <h3 class="text-overflow-2 font-16">
                                                @item.Product?.Title
                                            </h3>
                                            <div class="product-box-suggest-price my-2  d-flex align-items-center justify-content-between">
                                                <ins class="font-25 ms-0">@item.Product?.Price.ToMoney() <span>تومان</span></ins>
                                            </div>
                                            <div class="cart-canvas-foot d-flex align-items-center justify-content-between">
                                                <div class="cart-canvas-delete btn" onclick="deleteFromVisits('@item.Product?.Id')">
                                                    <i class="bi bi-x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        function fillPageId(pageId) {
            $("#Page").val(pageId);
            $("#filter-search").submit();
        }
    </script>
}