@using BigEshop.Application.Extensions
@using BigEshop.Application.Statics
@model BigEshop.Domain.ViewModels.Product.ClientSideProductViewModel

<div class="product-box">
    <div class="product-box-image">

        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@Model.Slug">
            <img src="@PathTools.ProductImagePath@Model.Image" loading="lazy" alt="@Model.Title" class="img-fluid">
        </a>

        @if (Model.ProductColors?.Where(p => p.ProductId == Model.Id) != null && Model.ProductColors.Where(p => p.ProductId == Model.Id).Any())
        {
            <div class="color-box">
                @foreach (var color in Model.ProductColors.Where(p => p.ProductId == Model.Id))
                {
                    <div class="color-box-item" data-hint="" data-toggle="tooltip">
                        <span class="color hint--top" style="background-color: @color.Color;"></span>
                    </div>
                }
            </div>
        }
       
        <div class="product-box-price-discount">
            <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
        </div>
        <span class="product-box-image-overlay"></span>
    </div>
    <div class="product-box-title">
        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@Model.Slug">
            <h5 class="text-overflow-2">
                @Model.Title
            </h5>
        </a>
    </div>
    <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
        <del class="font-16">@Model.Price.ToMoney()</del>
        <ins class="font-25">@Model.Price.ToMoney() <span>تومان</span></ins>
    </div>
    <div class="product-box-hover-action">
        <nav class="navbar navbar-expand justify-content-center">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-slug="@Model.Slug"
                       class="nav-item product-box-hover-item me-3"
                    >
                        مشاهده محصول
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>



