@using BigEshop.Application.Extensions
@using BigEshop.Application.Statics
@model BigEshop.Domain.ViewModels.Product.ClientSideProductViewModel

<div class="product-box">
    <div class="product-box-image">

        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">
            <img src="@PathTools.ProductImagePath@Model.Image" loading="lazy" alt="@Model.Title" class="img-fluid">
        </a>

        <div class="color-box">
            <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                <span class="color hint--top" style="background-color: #487eb0;"></span>
            </div>
            <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                <span class="color hint--top" style="background-color: #353b48;"></span>
            </div>
            <div class="color-box-item" data-hint="نام رنگ مورد نظر" data-toggle="tooltip">
                <span class="color hint--top" style="background-color: #7f8fa6;"></span>
            </div>
        </div>
        <div class="product-box-price-discount">
            <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
        </div>
        <span class="product-box-image-overlay"></span>
    </div>
    <div class="product-box-title">
        <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id">
            <h5 class="text-overflow-2">
                @Model.Title
            </h5>
        </a>
    </div>
    <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
        <del class="font-16">@Model.Price.ToMoney()</del>
        <ins class="font-25">@Model.Price.ToMoney() <span>تومان</span></ins>
    </div>
    <div class="product-box-hover-action">
        <nav class="navbar navbar-expand justify-content-center">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@Model.Id"
                       class="nav-item product-box-hover-item me-3"
                    >
                        مشاهده محصول
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn me-1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به سبد خرید"><i class="bi bi-basket"></i></a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-item product-box-hover-item product-box-hover-item-btn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="افزودن به علاقه ها"><i class="bi bi-heart"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>



