@using BigEshop.Domain.ViewModels.Product
@using BigEshop.Domain.ViewModels.ProductCategory
@model BigEshop.Domain.ViewModels.Product.ClientSideFilterProductViewModel

@{
    ViewData["Title"] = "محصولات و فیلتر محصولات";
    var categories = ViewData["Categories"] as List<ProductCategoryViewModel>;
}

<div class="bread-crumb py-4">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-lg-0 my-2">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="font-14 text-muted-two" href="/">خانه</a></li>
                <li class="breadcrumb-item"><a class="font-14 text-muted-two" href="/Products">فروشگاه</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="search-titles">
    <div class="container-fluid">
        <div class="section-title">
            <div class="section-title-title">
                <h2 class="title-font h1">
                    صفحه <span class="main-color-two-color">جستجو</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Index" id="filter-search" method="get">
    <input type="hidden" asp-for="Page" />
    <input type="hidden" asp-for="Min"/>
    <input type="hidden" asp-for="Max"/>
    <div class="d-flex align-items-center my-3 alert alert-light shadow-box rounded-4 justify-content-between">
        <div class="col-md-6 d-flex align-items-center">
            <span class="h3 main-color-one-color me-3">@Model.Entities.Count()</span>
            <h3 class="h3">
                نتیجه برای @Model.Title
            </h3>
        </div>

        <div class="col-md-6 search-form">
            <div class="search-filed">
                <input asp-for="Title" type="text" placeholder="جستجوی محصولات ..." class="form-control search-input">
                <button type="submit" class="btn search-btn main-color-one-bg rounded-3"><i class="bi bi-search"></i></button>
            </div>
        </div>
    </div>
    <div class="row gy-3">
        <div class="col-lg-3 d-lg-block d-none">

                <div class="item-boxs position-sticky top-0">

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">فیلتر های اعمال شده</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapseItemBox">
                            <a href="" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                <span>گوشی الجی</span>
                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                            </a>
                            <a href="" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                <span>دوربین 108</span>
                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                            </a>
                        </div>
                    </div>

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">محدوده قیمت</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapsePrice" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapsePrice">
                            <div class="filter-item-content">
                                <form action="" method="get">
                                    <div class="form-group">
                                        <div style="height:0" class="slider slider-horizontal slider-rtl" id="slider5b"><div class="slider-track"><div class="slider-track-low" style="right: 0px; width: 0%;"></div><div class="slider-selection" style="right: 0%; width: 100%;"></div><div class="slider-track-high" style="left: 0px; width: 0%;"></div></div><div class="tooltip tooltip-main bs-tooltip-top" role="presentation" style="right: 50%;"><div class="arrow"></div><div class="tooltip-inner">1500000 تومان   تا   3000000 تومان </div></div><div class="tooltip tooltip-min bs-tooltip-top" role="presentation" style="right: 0%;"><div class="arrow"></div><div class="tooltip-inner">1500000</div></div><div class="tooltip tooltip-max bs-tooltip-bottom" role="presentation" style="right: 100%; top: 18px; "><div class="arrow"></div><div class="tooltip-inner">3000000</div></div><div class="slider-handle min-slider-handle round" role="slider" aria-valuemin="1500000" aria-valuemax="3000000" aria-valuenow="1500000" tabindex="0" style="right: 0%;"></div><div class="slider-handle max-slider-handle round" role="slider" aria-valuemin="1500000" aria-valuemax="3000000" aria-valuenow="3000000" tabindex="0" style="right: 100%;"></div></div><input type="range" class="catRange" name="range[]" data-value="1500000,3000000" value="1500000,3000000">
                                        <input type="range" class="form-range" min="0" max="5" id="customRange2">
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <input type="number" name="" min="1500000" class="form-control input-range-filter" placeholder="از 1500000">
                                        </div>
                                        <div class="col-6">
                                            <input type="number" name="" min="1500000" max="3000000" class="form-control input-range-filter" placeholder="از 3000000">
                                        </div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">فیلتر بر اساس رنگ</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBoxExist" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapseItemBoxExist">
                            <div class="filter-item-content">
                                <form action="">
                                    <div class="product-meta-color-items mt-4">
                                        <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked="">
                                        <label class="btn btt-light" for="option1">
                                            <span style="background-color: #c00;"></span>
                                            قرمز
                                        </label>

                                        <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                                        <label class="btn btt-light" for="option2">
                                            <span style="background-color: #111;"></span>
                                            مشکی
                                        </label>

                                        <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                                        <label class="btn btt-light" for="option3">
                                            <span style="background-color: #00cc5f;"></span>
                                            سبز
                                        </label>

                                        <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                                        <label class="btn btt-light" for="option4">
                                            <span style="background-color: #1b69f0;"></span>
                                            آبی
                                        </label>

                                        <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off">
                                        <label class="btn btt-light" for="option5">
                                            <span style="background-color: #891bf0;"></span>
                                            بنفش
                                        </label>

                                        <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off">
                                        <label class="btn btt-light" for="option6">
                                            <span style="background-color: #f0501b;"></span>
                                            نارنجی
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">فیلتر براساس دسته</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBoxColor" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapseItemBoxColor">
                            <div class="filter-item-content">
                                @foreach(var item in categories)
                                {
                                     <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                    <div class="form-check">
                                        <label for="colorCheck11" class="form-check-label">@item.Title<i class="bi bi-phone ms-1"></i></label>
                                        <input type="checkbox" name="" id="colorCheck11" class="form-check-input">
                                    </div>
                                    <div>
                                        <span class="fw-bold font-14">(@item.Products.Count())</span>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        <div class="col-lg-9">

                <div class="category-sort mb-3">
                    <div class="content-box">
                        <div class="container-fluid">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="box_filter d-lg-block d-none">
                                    <ul class="list-inline text-start mb-0">
                                        <li class="list-inline-item title-font ms-0">مرتب سازی بر اساس :</li>

                                        <li class="list-inline-item">
                                           <select 
                                               class="form-control" 
                                               asp-items="Html.GetEnumSelectList<ClientSideFilterProductOrderBy>()" 
                                               asp-for="OrderBy"
                                               onchange="$('#filter-search').submit()">
                                           </select>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="box_filter_counter fs-6"><i class="bi bi-card-list me-2"></i>@Model.Entities.Count() کالا</div>
                            </div>
                            <div class="d-lg-none d-block">
                                <form action="">
                                    <h5 class="mb-3">مرتب سازی بر اساس</h5>
                                    <select name="" id="" class="form-select">
                                        <option value="">گران ترین</option>
                                        <option value="">ارزان ترین</option>
                                        <option value="">پرفروش ترین</option>
                                        <option value="">داغ ترین</option>
                                        <option value="">محبوب ترین</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="category-pro">
                    <div class="row g-3">
                        @if (Model.Entities != null && Model.Entities.Any())
                        {
                            foreach (var product in Model.Entities)
                            {
                                <div class="col-md-6 col-xl-4 col-xxl-3">
                                    <partial name="_ProductItem" model="product" />
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-sm-12">
                                <partial name="_SiteNotFound" />
                            </div>
                        }
                        <partial name="_SidePaging" model="Model.GetCurrentPagging()" />
                    </div>
                </div>
            </div>
    </div>
</form>

@section Scripts {
    <script>
        function fillPageId(pageId) {
            $("#Page").val(pageId);
            $("#filter-search").submit();
        }
    </script>
}
