@using BigEshop.Domain.ViewModels.Product
@using BigEshop.Domain.ViewModels.ProductCategory
@model BigEshop.Domain.ViewModels.Product.ClientSideFilterProductViewModel

@{
    ViewData["Title"] = "محصولات و فیلتر محصولات";
    var categories = ViewData["Categories"] as List<ProductCategoryViewModel>;
    var search = ViewData["Search"];
}

<div class="bread-crumb py-4">
    <div class="container-fluid">
        <nav aria-label="breadcrumb" class="my-lg-0 my-2">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="font-14 text-muted-two" href="/">خانه</a></li>
                <li class="breadcrumb-item"><a class="font-14 text-muted-two" href="/Products">فروشگاه</a></li>
            </ol>
        </nav>
    </div>
</div>

<div class="search-titles">
    <div class="container-fluid">
        <div class="section-title">
            <div class="section-title-title">
                <h2 class="title-font h1">
                    صفحه <span class="main-color-two-color">جستجو</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
        </div>
    </div>
</div>

<form asp-action="Index" id="filter-search" method="get">
    <input type="hidden" asp-for="Page" />
    <input type="hidden" asp-for="CategoryId" />
    <div class="d-flex align-items-center my-3 alert alert-light shadow-box rounded-4 justify-content-between">
       
        <div class="col-md-4 search-form">
            <div class="search-filed">
                <input asp-for="Title" type="text" placeholder="جستجوی محصولات ..." class="form-control search-input">
                <button type="submit" class="btn search-btn main-color-one-bg rounded-3"><i class="bi bi-search"></i></button>
            </div>
        </div>

        @if (search != null)
        {
            <div class="col-md-6 d-flex align-items-center">
                <span class="h3 main-color-one-color me-3">@Model.Entities.Count()</span>
                <h3 class="h3">
                    نتیجه برای @Model.Title
                </h3>
            </div>
        }

        <div class="col-md-1">
            <a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Index">حذف فیلتر</a>
        </div>
    </div>
    <div class="row gy-3">
        <div class="col-lg-3 d-lg-block d-none">

                <div class="item-boxs position-sticky top-0">

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">فیلتر های اعمال شده</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBox" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapseItemBox">
                            <a href="" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                <span>گوشی الجی</span>
                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                            </a>
                            <a href="" class="btn btn-sm rounded-pill border-1 border-muted me-1 font-14 mb-2">
                                <span>دوربین 108</span>
                                <span class="ms-3"><i class="bi bi-x text-danger"></i></span>
                            </a>
                        </div>
                    </div>

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">محدوده قیمت</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapsePrice" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapsePrice">
                            <div class="filter-item-content">
                                 <div class="row">
                                        <div class="col-6">
                                            <input type="number" asp-for="Min" class="form-control input-range-filter" placeholder="از">
                                        </div>
                                        <div class="col-6">
                                            <input type="number" asp-for="Max" class="form-control input-range-filter" placeholder="تا">
                                        </div>
                                  </div>
                                  <hr/>
                                  <div class="row align-items-center">
                                       <button type="submit" class="btn search-btn btn-info rounded-3">فیلتر قیمت</button>
                                  </div>
                            </div>
                        </div>
                    </div>

                    <div class="item-box">
                        <div class="title">
                            <div class="d-flex align-items-center justify-content-between">
                                <h6 class="font-14">فیلتر براساس دسته</h6>
                                <a class="btn border-0" data-bs-toggle="collapse" href="#collapseItemBoxColor" role="button" aria-expanded="false">
                                    <i class="bi bi-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="desc collapse show" id="collapseItemBoxColor">
                            <div class="filter-item-content">
                                @foreach(var item in categories)
                                {
                                <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                                    <div class="form-check">
                                        @* <label class="form-check-label" for="productCategory_@item.Id">@item.Title<i class="bi bi-phone ms-1"></i></label>
                                        <input type="checkbox" value="@item.Id" class="form-check-input" id="productCategory_@item.Id"
                                               onchange="filterProductsByCategory('@item.Id')"> *@
                                        <h3><a asp-controller="Product" asp-action="Index" asp-route-CategoryId="@item.Id">@item.Title</a></h3>
                                    </div>
                                    <div>
                                        <span class="fw-bold font-14">(@item.Products.Count())</span>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        <div class="col-lg-9">

                <div class="category-sort mb-3">
                    <div class="content-box">
                        <div class="container-fluid">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="box_filter d-lg-block d-none">
                                    <ul class="list-inline text-start mb-0">
                                        <li class="list-inline-item title-font ms-0">مرتب سازی بر اساس :</li>

                                        <li class="list-inline-item">
                                           <select 
                                               class="form-control" 
                                               asp-items="Html.GetEnumSelectList<ClientSideFilterProductOrderBy>()" 
                                               asp-for="OrderBy"
                                               onchange="$('#filter-search').submit()">
                                               <option>انتخاب کنید ...</option>
                                           </select>
                                        </li>
                                        
                                    </ul>
                                </div>
                                <div class="box_filter_counter fs-6"><i class="bi bi-card-list me-2"></i>@Model.Entities.Count() کالا</div>
                            </div>
                            <div class="d-lg-none d-block">
                                <form action="">
                                    <h5 class="mb-3">مرتب سازی بر اساس</h5>
                                    <select name="" id="" class="form-select">
                                        <option value="">گران ترین</option>
                                        <option value="">ارزان ترین</option>
                                        <option value="">پرفروش ترین</option>
                                        <option value="">داغ ترین</option>
                                        <option value="">محبوب ترین</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="category-pro" id="product-category-filter">
                    <div class="row g-3">
                        @if (Model.Entities != null && Model.Entities.Any())
                        {
                            foreach (var product in Model.Entities)
                            {
                            <div onclick="addToProductVisit(@product.Id)"
                                    class="col-md-6 col-xl-4 col-xxl-3" id="category-pro">
                                    <partial name="_ProductItem" model="product" />
                                </div>
                            }
                        }
                        else
                        {
                            <div class="col-sm-12" id="category-pro">
                                <partial name="_SiteNotFound" />
                            </div>
                        }
                        <partial name="_SidePaging" model="Model.GetCurrentPagging()" />
                    </div>
                </div>
            </div>
    </div>
</form>

@section Scripts {

    <script src="/Admin/assets/js/admin-wallet.js"></script>
}
