@using BigEshop.Application.Convertor
@using BigEshop.Application.Extensions
@using BigEshop.Domain.ViewModels.Ticket
@model BigEshop.Domain.Models.Ticket.Ticket

@{
    ViewData["Title"] = "جزییات نیکت";
}
<div class="row gy-3">
    <div class="col-lg-12">
        <div class="card slider-parent rounded-3">
            <div class="card-body">
                <div class="ticket-settings">
                    <div class="ticket-status">
                        <span class="bg-secondary badge rounded-0 font-16">در انتظار پاسخ</span>
                        <span class="text-muted font-16 fw-lighter float-end">#562356</span>
                    </div>
                    <div class="ticket-title mt-3">
                        <h6 class="text-justify text-muted fw-bold">@Model.Title</h6>
                    </div>
                    <div class="ticket-created-at mt-3">
                        <i class="bi bi-clock me-1"></i>
                        <span>@Model.CreateDate.ToShamsi()</span>
                    </div>
                    <div class="ticket-created-at mt-3">
                        <i class="bi bi-arrow-left me-1"></i>
                        <span>به روز شده 09 آذر 1402 13:00 </span>
                    </div>
                    <div class="ticket-action mt-3">
                        <a href="" class="btn btn-danger btn-sm">بستن تیکت</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="slider-parent rounded-3 py-4">
            <div class="container-fluid">
                <!-- Messages-->
                @if (Model != null)
                {
                    @foreach (var ticketMessage in Model.TicketMessages)
                    {
                        @if (Model.UserId == ticketMessage.SenderId)
                        {
                            <div class="comment active">
                                <div class="comment-author-ava"><img src="/Avatars/@ticketMessage.Sender.Avatar" alt="@ticketMessage.Sender.GetFullName()"></div>
                                <div class="comment-body">
                                    <p class="comment-text">
                                        @ticketMessage.Message
                                    </p>
                                    <div class="comment-footer">
                                        <span class="comment-meta"></span>
                                        <div class="comment-date float-end"><span class="comment-meta">@ticketMessage.CreateDate.ToShamsi()</span></div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="comment">
                                <div class="comment-author-ava"><img src="/Avatars/@ticketMessage.Sender.Avatar" alt="@ticketMessage.Sender.GetFullName()"></div>
                                <div class="comment-body">
                                    <p class="comment-text">
                                        @ticketMessage.Message
                                    </p>
                                    <div class="comment-footer">
                                        <span class="comment-meta">پشتیبان 43</span>
                                        <div class="comment-date float-end"><span class="comment-meta">@ticketMessage.CreateDate.ToShamsi()</span></div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

                <div class="my-4">
                    <div class="alert alert-danger text-center">
                        تیکت بسته شده است و امکان ارسال پاسخ جدید وجود ندارد
                    </div>
                </div>


                <!-- Reply Form-->
                <partial name="_AnswerTicket" model="@( new ClientAnswerTicketViewModel() {TicketId = Model.Id})"/>
            </div>
        </div>
    </div>
</div>