@model BigEshop.Domain.Models.ProductCategory.ProductCategory

@{
    ViewData["Title"] = "حذف دسته بندی";
}

<h3 class="pt-2">حذف دسته بندی</h3>

<h4>آیا از حذف دسته بندی مطمین هستید؟</h4>

<div>
    <dl class="row">
        @if (Model.ParentId != null)
        {
            <dt class="col-sm-2">
                دسته بندی والد
            </dt>
            <dd class="col-sm-10">
                @Model.Category?.Title
            </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Model.Title
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Model.CreateDate.ToShamsi()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class="text-center">
            @if (Model.IsDelete)
            {
                <span class="badge badge-danger text-white">حذف شده</span>
            }
            else
            {
                <span class="badge badge-success text-white">حذف نشده</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت به لیست</a>
    </form>
</div>
