@using BigEshop.Application.Statics
@model BigEshop.Domain.ViewModels.ProductGallery.FilterProductGalleryViewModel


@{
    ViewData["Title"] = "لیست گالری محصول";
}

<div class="mt-4 d-flex justify-content-between">
    <h5>لیست گالری محصول</h5>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card p-2">
            <div class="header mb-2">
                <h4>فیلترها</h4>
            </div>
            <div class="body">
                <form asp-action="Index" id="filter-search">
                    <input type="hidden" asp-for="Page" />
                    <input type="hidden" asp-for="ProductId"/>
                   <div class="p-3">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ImageTitle" class="control-label"></label>
                                    <input asp-for="ImageTitle" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                    <button type="submit">جستجو</button>
                                    <a asp-action="Index" class="col-auto m-2">حذف فیلتر</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-success ml-4" asp-action="Create" asp-route-productId="@Model.ProductId">افزودن عکس به گالری</a>
                            <a class="btn btn-secondary" asp-controller="Products" asp-action="Index">بازگشت به لیست محصولات</a>
                        </div>
                   </div>
                </form>
            </div>
        </div>
    </div>
</div>




@if (Model.Entities != null && Model.Entities.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    تصویر
                </th>
                <th>
                    عنوان
                </th>
                <th>
                    تاریخ ایحاد
                </th>
                <th>عمل</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Entities)
            {
                <tr>
                    <td>
                        <img src="@PathTools.ProductGalleryImagePath@item.ImageName" alt="@item.ImageTitle" width="120" height="120" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageTitle)
                    </td>
                    <td>
                        @item.CreateDate.ToShamsi()
                    </td>
                    <td>
                        <a onclick="confirmDelete('@Url.Action("Delete", "ProductGalleries", new {id = item.Id, productId = item.ProductId})', event)">
                            حذف
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


